<div class="whole">

  <div class="furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </div>






  <div class="furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </div>

</div>