.item-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60% auto;
  padding: 30px;
  background-color: white;
}

.item-description-box {
  font-size: 18px;
  margin: 40px 0px;
}

.show-item-name {
  font-size: xx-large;
  padding-bottom: 30px;
}

.show-item-image {
  position: relative;
}

.show-item-price {
  font-size: xx-large;
  padding: 30px 0px 30px 0px;
}

.edit {
  margin:50px ;
}

.edit-btn {
  font-size: x-large;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: red;
  width: auto;
  padding: 20px 50px;
}

.destroy-btn {
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: lightgray;
  width: auto;
  padding: 20px 50px;
}

.purchase-btn {
  font-size: x-large;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: red;
  width: auto;
  padding: 20px 50px;
}

.item-table {
  width: 500px auto;
}

th {
  width: 200px;
  height: 50px;
  background-color: #EEEEEE;
}

td {
  width: 400px;
  padding-left: 20px;
}